/* general modifications*/

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
li {
  list-style-type: none;
}
input[type="text"]:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
}

/*page wrapper for responsive design*/

#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#content {
  flex-grow: 1;
}

/*Header part*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
}
#nav-bar li {
  padding: 8px 12px;
}
.nav-link {
  font-size: 13px;
  border-style: none;
}
.nav-link:hover {
  text-decoration: underline;
}
#button1 {
  border-radius: 2px;
  background-color: #4285f4;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
#button1 a {
  color: white;
}

/*main part(1) logo (2)form*/

#google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
}
#search-form {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 46px;
  max-width: 584px;
  margin: 10px auto;
}
#search-form:hover {
  box-shadow: 0px 0px 6px #d3d3d3;
}
#icon-loupe {
  display: flex;
  justify-content: left;
  max-width: 22px;
  opacity: 30%;
  margin-left: -115px;
}
#search-input {
  display: flex;
  flex: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  width: 390px;
  height: 40px;
  font-size: 16px;
  margin-left: 15px;
  background-color: transparent;
}

/*button for research part*/

#button {
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
#button2 {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#button2:hover {
  background-color: #f2f2f2;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/*footer part*/

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#nav-foot {
  height: 40px;
  border-top: 1px solid #d3d3d3;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
#localisation {
  margin-left: 40px;
  /*padding: 15px;*/
  font-size: 15px;
}
#nav-foot2 {
  height: 40px;
  border-top: 1px solid #d3d3d3;
  background-color: #f2f2f2;
  color: #5f6368;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footer-left {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 30px;
}
#footer-right {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-right: 30px;
}
.nav-link2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 14px;
  color: #5f6368;
}
.nav-link2:hover {
  text-decoration: underline;
}
